body{
    background-color: rgb(223, 237, 255);
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.gif {
    margin: 10px;
    border: 1px solid rgb(77, 28, 0);
}
.gif:hover {
    border: 1px solid orange;
}

.rateandgif {
    float: left;
    margin: 10px;
}

.button,#add-reaction{
    margin: 5px;
    background-color: beige;
    border: 1px rgb(77, 28, 0);
    padding: 3px 10px 3px 10px;
    color: rgb(77, 28, 0);
    font-weight: bold;
}

#add-reaction{
    margin-top: 10px;
}

.button:hover {
    background-color: grey;
    /* border: 1px grey; */
}

.button:active {
    background-color: grey;
    /* border: 1px grey inset; */
}

#add-reaction:hover {
    background-color: grey;
    /* border: 1px grey outset; */
}
#add-reaction:active {
    background-color: grey;
    /* border: 1px grey inset; */
}

p,.download {
    width: 100%;
}

p {
    font-weight: bold;
    text-align: center;
}